* {
    font-size: 24px;
}

/* The sidebar menu -------------------------------------------------- */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 260px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(14, 57, 30);
    /* blue variant */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
  }

.sidenav h2 {
    text-align: left;
    margin-left: 15px;
    color: rgb(218, 236, 211);
    text-decoration: underline;
}

.sidenav h3 {
    text-align: left;
    margin-left: 15px;
    color: rgb(218, 236, 211);
    text-decoration: underline;
}


/* The navigation menu links */

.sidenav a {
    padding: 15px 8px 15px 16px;
    line-height: 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-weight: bold;
}


/* animated collapsible navbar */

.collapsible {
    background-color: rgb(14, 57, 30);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(14, 57, 30);
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav div img {
  vertical-align: bottom;
	margin-top: 100px;
	margin-left: 80px;
}
/* End of Sidenav bar ------------------------------------- */


body {
  background-color: rgb(245, 245, 245);
  margin-left: 260px;
}

p {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.box {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.backtop {
  margin-left: 50px;
}

/* On landscape tablets ------------------------- */

@media only screen and (min-device-width: 1000px) and (max-device-width: 1901px) {
  #menu {
    display: none;
  }
  body {
    background-color: rgb(245, 245, 245);
  }
}




/* Smartphones (portrait) ----------------------- */
@media only screen and (max-device-width: 600px) {
main .sidenav {
  display: none;
  }
.sidenav div img {
  display: none;
  }

  body {
    background-color: rgb(245, 245, 245);
    margin-left: 0.1px;
  }

#menu {
  display: inline-block;
}
}
